# dependencies
/node_modules
package-lock.json

# next.js
/.next/

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# database
data.db
data - Copy.db

# test coverage
/coverage